html {
  font-size: 16px;
  font-family: 'Unbounded', sans-serif;
}

body {
  background-color: black;

}
/* Style for the section container */
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 99vh;
  width: 99vw;
}

/* Style for each section */
section {
  display: flex;
  align-items: center;
  width: 400px;
  margin: 0.25rem;
  padding: 1.5rem;
  background-color: lightgray;
  border-radius: 0.25rem;
  text-align: left;
}

img {
  width: 70%;
}

.icon {
  width: 33%;
  margin-top: 3rem;
}

.content {
  width: 77%;
}


